body{
    margin: 0;
    background-color: blanchedalmond;
}

container{
    display: grid;
    height: 100vh;
    grid-template-rows: 120px 1fr;
    padding-top: 15px;
}

header{
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 22px;
}

#new-book{
}

main{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 300px 1fr;
    padding-left: 10px;
    padding-bottom: 10px;
}

#book-form {
    display: none;
  }

#book-form>label {
    display: flex;
    flex-direction: row;
}

#book-form>label>p{
    width: 100px;
}

#book-form>label{
    display: flex;
    align-items: center;
}

#title, #author, #pages, #read{
    height: 20px;
    border-radius: 10px;
    border-style: none;
}

button, #book-form>#submit{
    width: 80px;
    border-radius: 10px;
    border-style: none;
    color: black;
    background-color: orange;
}

#book-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
  }

#book-display>div {
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
    height: 230px;
    width: 200px;
    border-radius: 15px;
    border-left: 10px solid orange;
    background-color: white;
    padding: 10px;
}

#book-display>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#remove-book, #change-read{
    height: 60px;
}